' Is there a gem named
form#f
  input#g placeholder="rails" autocomplete="off"
  | ?
  button type="submit" Ask!

#y
  h1 Yes
  h4
    ' There is a gem named
    span#b
    | .
#n
  h1 No
  h4
    ' There is not a gem named
    span#c
    | . At least, not yet.
#e
  h1 Hmmm...not sure
  h4 There was an issue connecting to rubygems.org.